[Unit]
Description=DotNet.Live AdminApi

[Service]
WorkingDirectory=/data/dotnetlive/pubsite/dotnetlive.adminweb
ExecStart=/usr/local/bin/dotnet /data/dotnetlive/pubsite/dotnetlive.adminweb/DotNetLive.AdminWeb.dll
Restart=always
RestartSec=10                                          # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=dnl-adminweb
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://127.0.0.1:8008

[Install]
WantedBy=multi-user.target
