[Unit]
Description=DotNet.Live ExamWeb

[Service]
WorkingDirectory=/data/dotnetlive/pubsite/dotnetlive.examweb
ExecStart=/usr/local/bin/dotnet /data/dotnetlive/pubsite/dotnetlive.examweb/DotNetLive.ExamWeb.dll
Restart=always
RestartSec=10                                          # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=dnl-examweb
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://127.0.0.1:8007

[Install]
WantedBy=multi-user.target

