[Unit]
Description=DotNet.Live CareerWeb

[Service]
WorkingDirectory=/data/dotnetlive/pubsite/dotnetlive.careerweb
ExecStart=/usr/local/bin/dotnet /data/dotnetlive/pubsite/dotnetlive.careerweb/DotNetLive.CareerWeb.dll
Restart=always
RestartSec=10                                          # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=dnl-careerweb
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://127.0.0.1:8006

[Install]
WantedBy=multi-user.target

