[Unit]
Description=DotNet.Live Admin

[Service]
WorkingDirectory=/var/dotnetlive/pubsite/dotnetlive.admin
ExecStart=/usr/local/bin/dotnet /var/dotnetlive/pubsite/dotnetlive.admin/DotNetLive.AdminWeb.dll
Restart=always
RestartSec=10                                          # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=dnl-admin
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://127.0.0.1:8002

[Install]
WantedBy=multi-user.target

