<div class="footer-v8">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 column-one md-margin-bottom-50">
                    <a asp-controller="Home" asp-action="Index"><img class="footer-logo" src="//static.dotnet.live/assets/img/logo1-white.png" alt=""></a>
                    <p class="margin-bottom-20">DNL项目基于微软最新的.NET Core跨平台技术，子系统包括(但不仅限于)SSO, 综合博客(类似博客园), 论坛, 问答社区，考试系统, 及其他你认为有意义的项目，通过诸多项目的开发来达到.NET Core落地实践的目的.</p>
                    <span>QQ群:</span>
                    <p>191870871[.NET Core落地实践] 加群注明: https://dotnet.live/</p>
                    <p>本群立足于.NET Core 跨平台开发，专注微软最新跨平台开发技术.net core落地实践</p>
                    <hr>
                    <span>有问题:</span>
                    <a href="https://github.com/dotnetlive/dotnetlive/issues/new" target="_blank">提交issue</a>
                </div>

                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    <h2>Tags</h2>
                    <!-- Tag Links v4 -->
                    <ul class="tags-v4 margin-bottom-40">
                        <li><a class="rounded-4x" href="#">dotnetcore</a></li>
                        <li><a class="rounded-4x" href="#">linux</a></li>
                        <li><a class="rounded-4x" href="#">angular2</a></li>
                        <li><a class="rounded-4x" href="#">vue</a></li>
                        <li><a class="rounded-4x" href="#">react</a></li>
                        <li><a class="rounded-4x" href="#">bootstrap</a></li>
                        <li><a class="rounded-4x" href="#">html5</a></li>
                    </ul>
                    <!-- End Tag Links v4 -->

                    <h2>相关链接</h2>
                    <!-- Footer Lists -->
                    <ul class="footer-lists">
                        <li><i class="fa fa-angle-right"></i><a href="https://docs.microsoft.com/en-us/aspnet/core/" target="_blank">ASP.Net Core文档(英文)</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="https://github.com/dotnetcore" target="_blank">ASP.Net Core中文文档翻译小组(国内团队)</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="http://www.cnblogs.com/dotNETCoreSG" target="_blank">ASP.Net Core中文文档翻译小组(国内团队博客园地址)</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="https://github.com/aspnet/mvc" target="_blank">ASP.Net Core代码库</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="https://github.com/dotnet/cli" target="_blank">.Net Core Cli代码库</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="https://github.com/dotnet/core/tree/master/release-notes" target="_blank">.Net Core最新发布版本查看</a></li>
                    </ul>
                    <!-- End Footer Lists -->
                </div>

                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    <h2>Latest News</h2>
                    <!-- Latest News -->
                    <div class="latest-news margin-bottom-20">
                        <img src="//static.dotnet.live/assets/img/thumb/01.jpg" alt="">
                        <h3><a href="http://www.davepaquette.com/archive/2015/06/01/mvc-6-anchor-tag-helper.aspx" target="_blank">ASP.NET Core MVC Anchor Tag Helper.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                    <hr>

                    <div class="latest-news margin-bottom-20">
                        <img src="//static.dotnet.live/assets/img/thumb/02.jpg" alt="">
                        <h3><a href="http://www.davepaquette.com/archive/2015/06/01/mvc-6-anchor-tag-helper.aspx" target="_blank">ASP.NET Core MVC Anchor Tag Helper.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                    <hr>

                    <div class="latest-news">
                        <img src="//static.dotnet.live/assets/img/thumb/01.jpg" alt="">
                         <h3><a href="http://www.davepaquette.com/archive/2015/06/01/mvc-6-anchor-tag-helper.aspx" target="_blank">ASP.NET Core MVC Anchor Tag Helper.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Latest News -->
                </div>

                <div class="col-md-3 col-sm-6">
                    <h2>Newsletter</h2>
                    <p><strong>Subscribe</strong> to our newsletter and stay up to date with the latest news and deals!</p><br>

                    <!-- Form Group -->
                    <div class="input-group margin-bottom-50">
                        <input class="form-control" type="email" placeholder="Enter email">
                        <div class="input-group-btn">
                            <button type="button" class="btn-u input-btn">Subscribe</button>
                        </div>
                    </div>
                    <!-- End Form Group -->

                    <h2>Social Network</h2>
                    <p>
                        <strong>Follow Us</strong> If you want to be kept up to date about what’s going on, minute by
                        minute, then search for Grant and give us a follow!
                    </p><br>

                    <!-- Social Icons -->
                    <ul class="social-icon-list margin-bottom-20">
                        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-dribbble"></i></a></li>
                    </ul>
                    <!-- End Social Icons -->
                </div>
            </div>
            <!--/end row-->
        </div>
        <!--/end container-->
    </footer>

    <footer class="copyright">
        <div class="container">
            <ul class="list-inline terms-menu">
                <li>@DateTime.UtcNow.Year &copy; All Rights Reserved.</li>
                <li class="home"><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy and Policy</a></li>
            </ul>
        </div>
        <!--/end container-->
    </footer>
</div>