<div class="footer-v8">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 column-one md-margin-bottom-50">
                    <a asp-controller="Home" asp-action="Index"><img class="footer-logo" src="//static.dotnet.live/assets/img/logo1-white.png" alt=""></a>
                    <p class="margin-bottom-20">Unify is an ultra fully responsive template with modern and smart design.</p>
                    <span>Headquarters:</span>
                    <p>795 Folsom Ave, Suite 600, San Francisco, CA 94107</p>
                    <hr>
                    <span>Phone:</span>
                    <p>(+123) 456 7890</p>
                    <p>(+123) 456 7891</p>
                    <hr>
                    <span>Email Address:</span>
                    <a href="#">support@htmlstream.com</a>
                </div>

                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    <h2>Tags</h2>
                    <!-- Tag Links v4 -->
                    <ul class="tags-v4 margin-bottom-40">
                        <li><a class="rounded-4x" href="#">java</a></li>
                        <li><a class="rounded-4x" href="#">featured</a></li>
                        <li><a class="rounded-4x" href="#">pattern</a></li>
                        <li><a class="rounded-4x" href="#">web</a></li>
                        <li><a class="rounded-4x" href="#">fashion</a></li>
                        <li><a class="rounded-4x" href="#">wrapbootstrap</a></li>
                        <li><a class="rounded-4x" href="#">css3</a></li>
                        <li><a class="rounded-4x" href="#">foto</a></li>
                        <li><a class="rounded-4x" href="#">google</a></li>
                        <li><a class="rounded-4x" href="#">html5</a></li>
                    </ul>
                    <!-- End Tag Links v4 -->

                    <h2>Useful Links</h2>
                    <!-- Footer Lists -->
                    <ul class="footer-lists">
                        <li><i class="fa fa-angle-right"></i><a href="#">Wrapbootstrap</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Google</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Marketing</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Support Forum</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Themes</a></li>
                    </ul>
                    <!-- End Footer Lists -->
                </div>

                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    <h2>Latest News</h2>
                    <!-- Latest News -->
                    <div class="latest-news margin-bottom-20">
                        <img src="//static.dotnet.live/assets/img/thumb/01.jpg" alt="">
                        <h3><a href="#">Standard post with video.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                    <hr>

                    <div class="latest-news margin-bottom-20">
                        <img src="//static.dotnet.live/assets/img/thumb/02.jpg" alt="">
                        <h3><a href="#">Standard post with video.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                    <hr>

                    <div class="latest-news">
                        <img src="//static.dotnet.live/assets/img/thumb/01.jpg" alt="">
                        <h3><a href="#">Standard post with video.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Latest News -->
                </div>

                <div class="col-md-3 col-sm-6">
                    <h2>Newsletter</h2>
                    <p><strong>Subscribe</strong> to our newsletter and stay up to date with the latest news and deals!</p><br>

                    <!-- Form Group -->
                    <div class="input-group margin-bottom-50">
                        <input class="form-control" type="email" placeholder="Enter email">
                        <div class="input-group-btn">
                            <button type="button" class="btn-u input-btn">Subscribe</button>
                        </div>
                    </div>
                    <!-- End Form Group -->

                    <h2>Social Network</h2>
                    <p>
                        <strong>Follow Us</strong> If you want to be kept up to date about what’s going on, minute by
                        minute, then search for Grant and give us a follow!
                    </p><br>

                    <!-- Social Icons -->
                    <ul class="social-icon-list margin-bottom-20">
                        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-dribbble"></i></a></li>
                    </ul>
                    <!-- End Social Icons -->
                </div>
            </div>
            <!--/end row-->
        </div>
        <!--/end container-->
    </footer>

    <footer class="copyright">
        <div class="container">
            <ul class="list-inline terms-menu">
                <li>@DateTime.UtcNow.Year &copy; All Rights Reserved.</li>
                <li class="home"><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy and Policy</a></li>
            </ul>
        </div>
        <!--/end container-->
    </footer>
</div>