<div class="header-v8 header-sticky">
    <!-- Topbar blog -->
    <div class="blog-topbar">
        <div class="topbar-search-block">
            <div class="container">
                <form action="">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="search-close"><i class="icon-close"></i></div>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-8">
                    <!--<div class="topbar-time">Friday, Mar 13th 2015</div>-->
                    <div class="topbar-time">@DateTime.Now.ToString()</div>
                    <div class="topbar-toggler"><span class="fa fa-angle-down"></span></div>
                    <ul class="topbar-list topbar-menu">
                        <li><a href="https://github.com/dotnetlive">Code</a></li>
                        <li><a href="http://docs.dotnet.live">文档</a></li>
                        <li><a href="http://search.dotnet.live">搜索</a></li>
                        <li><a href="http://blog.dotnet.live">博客</a></li>
                        <li><a href="http://forums.dotnet.live">论坛</a></li>
                        <li>
                            <a href="javascript:void(0);">相关</a>
                            <ul class="topbar-dropdown">
                                <li><a href="http://exam.dotnet.live">Exam</a></li>
                                <li><a href="http://carrer.dotnet.live">Carrer</a></li>
                                <li><a href="#">Carrer</a></li>
                                <li class="topbar-submenu">
                                    <a href="javascript:void(0);">Submenu</a>
                                    <ul class="topbar-submenu-in">
                                        <li><a href="#">Exam</a></li>
                                        <li><a href="#">Carrer</a></li>
                                        <li><a href="#">Carrer</a></li>
                                        <li class="topbar-submenu">
                                            <a href="javascript:void(0);">Submenu</a>
                                            <ul class="topbar-submenu-in">
                                                <li><a href="#">Exam</a></li>
                                                <li><a href="#">Carrer</a></li>
                                                <li><a href="#">Carrer</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        @{ var currentUrl = Context.Request.Path.Value + Context.Request.QueryString.Value; }
                        <!--,new{returnUrl=Request.Path.Value + Request.QueryString.Value}-->
                        <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signin" asp-controller="Account" asp-action="Login" asp-returnUrl="@currentUrl">登陆</a></strong></li>
                        <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signup" asp-controller="Account" asp-action="Register" asp-returnUrl="@currentUrl">注册</a></strong></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-4 clearfix">
                    <i class="fa fa-search search-btn pull-right"></i>
                   @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
            <!--/end row-->
        </div>
        <!--/end container-->
    </div>
    <!-- End Topbar blog -->
    <!-- Navbar -->
    <div class="navbar mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="res-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-brand">
                    <a asp-controller="Home" asp-action="Index">
                        <!--<img src="//static.dotnet.live/assets/img/logo1-default.png" alt="Logo">-->
                        <span style="display: inline-block; width: 103px; height: 39px; font-size: 24px">DNL(DotNetLive)</span>
                    </a>
                </div>
            </div>
            <!--/end responsive container-->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="res-container">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li class="dropdown active">
                            <a asp-controller="Home" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">
                                Home
                            </a>
                        </li>
                        <!-- End Home -->
                        <!-- World -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                World
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-2 md-margin-bottom-30">
                                                    <ul class="dropdown-link-list">
                                                        <li><a href="#">World</a></li>
                                                        <li><a href="#">Economy</a></li>
                                                        <li><a href="#">Sport</a></li>
                                                        <li><a href="#">Fashion</a></li>
                                                        <li><a href="#">Health</a></li>
                                                        <li><a href="#">Travel</a></li>
                                                        <li><a href="#">Hi-Tech</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-5 md-margin-bottom-30">
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-20">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img16.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-video-camera"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">You CAN be sensitive to gluten without having coeliac disease, study finds</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-20">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img12.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-photo"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">Starbucks is introducing new coffee</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img15.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-volume-up"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">The benefits of tea</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                </div>
                                                <div class="col-md-5">
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-20">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img26.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-volume-up"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">Salted dessert recipes that walk the fine line of...</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-20">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img23.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-photo"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">Why your next glass of orange juice will cost you more</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-30">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img24.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-photo"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">Why your next glass of orange juice will cost you more</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- End World -->
                        <!-- Fashion -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Fashion
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3 md-margin-bottom-30">
                                                    <ul class="dropdown-link-list">
                                                        <li><a href="#">World</a></li>
                                                        <li><a href="#">Economy</a></li>
                                                        <li><a href="#">Sport</a></li>
                                                        <li><a href="#">Fashion</a></li>
                                                        <li><a href="#">Health</a></li>
                                                        <li><a href="#">Travel</a></li>
                                                        <li><a href="#">Lifestyle</a></li>
                                                        <li><a href="#">Hi-Tech</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-5 md-margin-bottom-30">
                                                    <!-- Blog Grid -->
                                                    <div class="blog-grid">
                                                        <img class="img-responsive" src="//static.dotnet.live/assets/img/main/img9.jpg" alt="">
                                                        <h3 class="blog-grid-title-sm"><a href="blog_single.html">Is this the end for fashion police?</a></h3>
                                                    </div>
                                                    <!-- End Blog Grid -->
                                                </div>
                                                <div class="col-md-4">
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-20">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img16.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-video-camera"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">Nadège Vanhee-Cybulski makes Hermès debut</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="blog_single.html"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-20">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img15.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-photo"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">Minimalism gives way to embroidery and crystals as Paris shows draw to a close</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="blog_single.html"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-30">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img17.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-photo"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">In bed with Cara Delevingne as she talks bags, boys and bunnies</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="blog_single.html"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- End Fashion -->
                        <!-- Archives -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Archives
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3 md-margin-bottom-30">
                                                    <h2>Title goes here</h2>
                                                    <ul class="dropdown-link-list">
                                                        <li><a href="#">World</a></li>
                                                        <li><a href="#">Economy</a></li>
                                                        <li><a href="#">Sport</a></li>
                                                        <li><a href="#">Fashion</a></li>
                                                        <li><a href="#">Health</a></li>
                                                        <li><a href="#">Travel</a></li>
                                                        <li><a href="#">Lifestyle</a></li>
                                                        <li><a href="#">Hi-Tech</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3 md-margin-bottom-30">
                                                    <h2>Title goes here</h2>
                                                    <ul class="dropdown-link-list">
                                                        <li><a href="#">World</a></li>
                                                        <li><a href="#">Economy</a></li>
                                                        <li><a href="#">Sport</a></li>
                                                        <li><a href="#">Fashion</a></li>
                                                        <li><a href="#">Health</a></li>
                                                        <li><a href="#">Travel</a></li>
                                                        <li><a href="#">Lifestyle</a></li>
                                                        <li><a href="#">Hi-Tech</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3 md-margin-bottom-30">
                                                    <h2>Title goes here</h2>
                                                    <ul class="dropdown-link-list">
                                                        <li><a href="#">World</a></li>
                                                        <li><a href="#">Economy</a></li>
                                                        <li><a href="#">Sport</a></li>
                                                        <li><a href="#">Fashion</a></li>
                                                        <li><a href="#">Health</a></li>
                                                        <li><a href="#">Travel</a></li>
                                                        <li><a href="#">Lifestyle</a></li>
                                                        <li><a href="#">Hi-Tech</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3 md-margin-bottom-30">
                                                    <h2>Title goes here</h2>
                                                    <ul class="dropdown-link-list">
                                                        <li><a href="#">World</a></li>
                                                        <li><a href="#">Economy</a></li>
                                                        <li><a href="#">Sport</a></li>
                                                        <li><a href="#">Fashion</a></li>
                                                        <li><a href="#">Health</a></li>
                                                        <li><a href="#">Travel</a></li>
                                                        <li><a href="#">Lifestyle</a></li>
                                                        <li><a href="#">Hi-Tech</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- End Archives -->
                        <!-- Lifestyle -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Lifestyle
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4 md-margin-bottom-30">
                                                    <div class="blog-grid">
                                                        <img class="img-responsive" src="//static.dotnet.live/assets/img/main/img6.jpg" alt="">
                                                        <h3 class="blog-grid-title-sm"><a href="blog_single.html">Malaika Firth tells all: 'I met my boyfriend through Twitter'</a></h3>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 md-margin-bottom-30">
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-20">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img3.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-video-camera"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">You CAN be sensitive to gluten without having coeliac disease, study finds</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-20">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img17.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-photo"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">Starbucks is introducing new coffee</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb md-margin-bottom-20">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img25.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-volume-up"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">The benefits of tea</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                </div>
                                                <div class="col-md-4">
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-20">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img26.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-volume-up"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">Salted dessert recipes that walk the fine line of...</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb margin-bottom-20">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img18.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-photo"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">Why your next glass of orange juice will cost you more</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                    <!-- Blog Thumb -->
                                                    <div class="blog-thumb md-margin-bottom-30">
                                                        <div class="blog-thumb-hover">
                                                            <img src="//static.dotnet.live/assets/img/main/img8.jpg" alt="">
                                                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-photo"></i></a>
                                                        </div>
                                                        <div class="blog-thumb-desc">
                                                            <h3><a href="blog_single.html">Why your next glass of orange juice will cost you more</a></h3>
                                                            <ul class="blog-thumb-info">
                                                                <li>Mar 6, 2015</li>
                                                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- End Blog Thumb -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- End Lifestyle -->
                        <!-- Life -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Life
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3 md-margin-bottom-30">
                                                    <div class="blog-grid">
                                                        <img class="img-responsive" src="//static.dotnet.live/assets/img/main/img1.jpg" alt="">
                                                        <h3 class="blog-grid-title-sm"><a href="#">Learning as you're earning: The alternative to a degree</a></h3>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 md-margin-bottom-30">
                                                    <div class="blog-grid">
                                                        <img class="img-responsive" src="//static.dotnet.live/assets/img/main/img11.jpg" alt="">
                                                        <h3 class="blog-grid-title-sm"><a href="#">Universities found to offer ‘unlawful’ terms to students</a></h3>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 md-margin-bottom-30">
                                                    <div class="blog-grid">
                                                        <img class="img-responsive" src="//static.dotnet.live/assets/img/main/img10.jpg" alt="">
                                                        <h3 class="blog-grid-title-sm"><a href="#">Harvard tops list of world university rankings again</a></h3>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 sm-margin-bottom-30">
                                                    <div class="blog-grid">
                                                        <img class="img-responsive" src="//static.dotnet.live/assets/img/main/img21.jpg" alt="">
                                                        <h3 class="blog-grid-title-sm"><a href="#">New 5 star hotel in Sydney</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- End Life -->
                        <!-- Main Demo -->
                        <li><a href="//static.dotnet.live/">Main Demo</a></li>
                        <!-- Main Demo -->
                    </ul>
                </div>
                <!--/responsive container-->
            </div>
            <!--/navbar-collapse-->
        </div>
        <!--/end contaoner-->
    </div>
    <!-- End Navbar -->
</div>