@section Slider {
    <div class="interactive-slider-v2 img-v4">
        <div class="container">
            <h1>欢迎来到DNL项目(DOTNET.LIVE)</h1>
            <p>专注微软最新跨平台技术.NET Core落地实践.</p>
        </div>
    </div>
}
<div class="content-md">
    <div class="container">
        <!-- Service Box -->
        <div class="row text-center margin-bottom-60">
            <div class="col-md-4 md-margin-bottom-50">
                <img alt="" src="~/assets/img/icons/flat/01.png" class="image-md margin-bottom-20">
                <h1 class="title-v3-md margin-bottom-10">.NET</h1>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
            </div>
            <div class="col-md-4 flat-service md-margin-bottom-50">
                <img alt="" src="~/assets/img/icons/flat/02.png" class="image-md margin-bottom-20">
                <h2 class="title-v3-md margin-bottom-10">Linux</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
            </div>
            <div class="col-md-4 flat-service">
                <img alt="" src="~/assets/img/icons/flat/03.png" class="image-md margin-bottom-20">
                <h2 class="title-v3-md margin-bottom-10">落地实践</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
            </div>
        </div>
        <!-- End Service Box -->
    </div>
    <!--/container -->
    <!-- Flat Testimonials -->
    <div class="flat-testimonials bg-image-v1 parallaxBg1 margin-bottom-60" style="background-position: 50% 241px;">
        <div class="container">
            <div class="headline-center headline-light margin-bottom-60">
                <h2>DotNetLive团队</h2>
                <p>
                    Integer odio ligula, tincidunt id volutpat et, imperdiet eget mi. Quisque laoreet porttitor turpis sed <a href="#">fermentum</a>.
                    Nullam sodales blandit nisi, tristique tempor nunc hendrerit at. Sed posuere mollis orci
                </p>
            </div>
            <!--/end Headline Center-->

            <div class="row">
                <div class="col-sm-4">
                    <div class="flat-testimonials-in md-margin-bottom-50">
                        <img alt="" src="~/assets/img/team/img1-sm.jpg" class="rounded-x img-responsive">
                        <h3>Anthony Connor</h3>
                        <span class="color-green">Software Developer</span>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="flat-testimonials-in md-margin-bottom-50">
                        <img alt="" src="~/assets/img/team/img2-sm.jpg" class="rounded-x img-responsive">
                        <h3>Angela Danil</h3>
                        <span class="color-green">Web Designer</span>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="flat-testimonials-in">
                        <img alt="" src="~/assets/img/team/img3-sm.jpg" class="rounded-x img-responsive">
                        <h3>Anthony Connor</h3>
                        <span class="color-green">Software Developer</span>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
                    </div>
                </div>
            </div>
            <!--/end row-->
        </div>
        <!--/end container-->
    </div>
    <!-- End Flat Testimonials -->

    <div class="container">
        <div class="headline-center margin-bottom-60">
            <h2>What We Provide</h2>
            <p>
                Integer odio ligula, tincidunt id volutpat et, imperdiet eget mi. Quisque laoreet porttitor turpis sed <a href="#">fermentum</a>.
                Nullam sodales blandit nisi, tristique tempor nunc hendrerit at. Sed posuere mollis orci
            </p>
        </div>
        <!--/end Headline Center-->

        <div class="row margin-bottom-40">
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-layers"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Responsive Layout</h3>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
                    </div>
                </div>
                <div class="content-boxes-v5 md-margin-bottom-30">
                    <i class="rounded-x icon-settings"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Color Options</h3>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-earphones-alt "></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Outstanding Support</h3>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
                    </div>
                </div>
                <div class="content-boxes-v5 md-margin-bottom-30">
                    <i class="rounded-x icon-user "></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">User Friendly</h3>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-wrench"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Customizable Design</h3>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
                    </div>
                </div>
                <div class="content-boxes-v5 md-margin-bottom-30">
                    <i class="rounded-x icon-star"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Free Updates</h3>
                        <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/end row-->
    </div>
    <!--/end container-->
</div>
@section scripts {
    <script type="text/javascript" src="~/assets/js/app.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/fancy-box.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/owl-carousel.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/assets/js/plugins/style-switcher.js" asp-append-version="true"></script>
    <script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        StyleSwitcher.initStyleSwitcher();
        App.initParallaxBg();
        FancyBox.initFancybox();
        OwlCarousel.initOwlCarousel();
    });

    </script>
}
