@section Slider {
<div class="interactive-slider-v2 img-v4">
    <div class="container">
        <h1>欢迎来到DNL项目(DOTNET.LIVE)</h1>
        <p>专注微软最新跨平台技术.NET Core落地实践.</p>
    </div>
</div>
}
<div class="content-md">
    <div class="container">
        <!-- Service Box -->
        <div class="row text-center margin-bottom-60">
            <div class="col-md-4 md-margin-bottom-50">
                <img alt="" src="//static.dotnet.live/assets/img/icons/flat/01.png" class="image-md margin-bottom-20">
                <h1 class="title-v3-md margin-bottom-10">.NET Core</h1>
                <p>基于微软最新跨平台技术</p>
            </div>
            <div class="col-md-4 flat-service md-margin-bottom-50">
                <img alt="" src="//static.dotnet.live/assets/img/icons/flat/02.png" class="image-md margin-bottom-20">
                <h2 class="title-v3-md margin-bottom-10">Linux/Mac/Windows</h2>
                <p>可稳定运行在Linux/Mac/Windows</p>
            </div>
            <div class="col-md-4 flat-service">
                <img alt="" src="//static.dotnet.live/assets/img/icons/flat/03.png" class="image-md margin-bottom-20">
                <h2 class="title-v3-md margin-bottom-10">落地实践</h2>
                <p>专注.NET Core落地实践</p>
            </div>
        </div>
        <!-- End Service Box -->
    </div>
    <!--/container -->
    <!-- Flat Testimonials -->
    <div class="flat-testimonials bg-image-v1 parallaxBg1 margin-bottom-60" style="background-position: 50% 241px;">
        <div class="container">
            <div class="headline-center headline-light margin-bottom-60">
                <h2>我们团队</h2>
                <p>
                    这里有.net core, angular2, vue, react各路牛人，同时也欢迎你加入，一起来开发一个面向互联网的，有意思的大型系统, 向更多的人展示我们自己.
                </p>
                <p>
                    Welcome To Join DNL Team!
                </p>
            </div>
            <!--/end Headline Center-->

            <div class="row">
                <div class="col-sm-4">
                    <div class="flat-testimonials-in md-margin-bottom-50">
                        <img alt="" src="//static.dotnet.live/assets/img/team/img1-sm.jpg" class="rounded-x img-responsive">
                        <h3>Duke Cheng</h3>
                        <span class="color-green">Software Developer</span>
                        <p>WebSite/Account</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="flat-testimonials-in md-margin-bottom-50">
                        <img alt="" src="//static.dotnet.live/assets/img/team/img2-sm.jpg" class="rounded-x img-responsive">
                        <h3>XiaoPan</h3>
                        <span class="color-green">Software Designer</span>
                        <p>Search</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="flat-testimonials-in">
                        <img alt="" src="//static.dotnet.live/assets/img/team/img3-sm.jpg" class="rounded-x img-responsive">
                        <h3>Tibbers</h3>
                        <span class="color-green">Software Developer</span>
                        <p>FileStorage</p>
                    </div>
                </div>
            </div>
            <!--/end row-->
        </div>
        <!--/end container-->
    </div>
    <!-- End Flat Testimonials -->

    <div class="container">
        <div class="headline-center margin-bottom-60">
            <h2>DNL项目</h2>
            <p>
                DNL项目的基因来自于中小型互联网架构，在提供一个互联网架构学习平台的同时，努力发展成为一个开放式的在线社区.
            </p>
        </div>
        <!--/end Headline Center-->

        <div class="row margin-bottom-40">
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-layers"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">.NET Core</h3>
                        <p>开发基于微软最新跨平台开发技术.NET Core</p>
                    </div>
                </div>
                <div class="content-boxes-v5 md-margin-bottom-30">
                    <i class="rounded-x icon-settings"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Linux/Mac/Windows</h3>
                        <p>可以运行在Linux/Mac/Windows等多个平台，官方平台部署在Debian 8之上</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-earphones-alt "></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">互联网架构</h3>
                        <p>DNL项目包含众多子站点, 符合常规中小型互联网架构, 满足向互联网架构师方向进化的人的学习期望.</p>
                    </div>
                </div>
                <div class="content-boxes-v5 md-margin-bottom-30">
                    <i class="rounded-x icon-user "></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">跨平台</h3>
                        <p>DNL系统从初始架构设计层面开始,始终把跨平台放在第一位,结合微软最新跨平台技术开发.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-wrench"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">社区持续维护</h3>
                        <p>DNL项目的开发维护完全由社区贡献与维护，包括整体的发展方向，也有社区来把控.</p>
                    </div>
                </div>
                <div class="content-boxes-v5 md-margin-bottom-30">
                    <i class="rounded-x icon-star"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">开放源码／接受个人贡献</h3>
                        <p>DNL代码托管在著名的代码托管站点Github上面(<a href="https://github.com/dotnetlive" target="_blank">DNL Code</a>),
                            并且在项目一开始就确立了接受符合项目代码标准的第三方提交的代码.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/end row-->
    </div>
    <!--/end container-->
</div>
@section scripts {
<script type="text/javascript" src="//static.dotnet.live/assets/js/app.js" asp-append-version="true"></script>
<script type="text/javascript" src="//static.dotnet.live/assets/js/plugins/fancy-box.js" asp-append-version="true"></script>
<script type="text/javascript" src="//static.dotnet.live/assets/js/plugins/owl-carousel.js" asp-append-version="true"></script>
<script type="text/javascript" src="//static.dotnet.live/assets/js/plugins/style-switcher.js" asp-append-version="true"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        StyleSwitcher.initStyleSwitcher();
        App.initParallaxBg();
        FancyBox.initFancybox();
        OwlCarousel.initOwlCarousel();
    });
</script>
}